<main class="spacio-bg">
    <div class="container justify-content-center ">
        <div class="row fila1">
            <div class="col-md-12 col-sm-12 mt-5">
                <h2 class="text-white mt-5"> <span class="text-secondary fs-1"> 01 </span>  PICK YOUR DESTINATION</h2>
            </div>
        </div>
            <div class="row fila1 ">
                <div class="col-md-6 col-sm-12 marte-img  justify-content-end mt-5"> 
                        <img src="/./assets/destination/image-mars.png" alt="img-marte">
                </div> 
                <div class="col-md-5 sm-12 info">
                            <!--NavBar-->
                            <ul class="nav mb-3">
                                <li class="nav-item line">
                                <a class="nav-link active text-white" aria-current="page" href="#">MOON</a>
                                </li>
                                <li class="nav-item line">
                                <a class="nav-link  text-white" href="#">MARS</a>
                                </li>
                                <li class="nav-item line">
                                <a class="nav-link text-white" href="#">EUROPA</a>
                                </li>
                                <li class="nav-item line">
                                <a class="nav-link text-white " href="#">TITAN</a>
                                </li>
                            </ul>
                    
                            <h1 class="title-mars text-white mb-3">MARS</h1>
                
                            <p class="parrafo text-white text-align-start fs-6 mb-3">Don't forget to pack your hiking boots. You'll need them to take on Olympus Mons, 
                                the tallest planetary mountain in our solar system. It is two and a half times the size 
                                of Everest!
                            </p> <hr class="border-white mt-5">
                        <div class="row ">   
                            <div class="col-md-5 col-sm-12">
                                <P class=" dist-mes text-secondary">AVG. DISTANCE</P> 
                                <P class=" mes-distance text-white">225 MIL. KM</P>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <P class="dist-mes text-secondary">EST. TRAVEL TIME</P> 
                                <P class=" mes-distance text-white">9 MONTHS</P>
                            </div> 
                        </div>              
                </div>                     
            </div>
    </div>
</main>