<body>
    <main class="bg--espacio ">
        <section class="titlle-section" >
            <div class="container d-flex justify-content-left align-item-center">
                <div class="p-4">
                <h2 class="text--title"><span>02</span> MEET YOUR CREW</h2>
                </div>
            </div>    
        </section>
    
        <section>
            <div class="row ">
                <div class="col-md-6 text-content">
                    <div class="text-content">
                        <h3 class="text--title--sub">FLIGHT ENGINEER</h3>
                    <h2 class="text--title--main">ANOUSHEH ANSARI</h2>
                  
                        <p class="text--parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis cupiditate dolor, temporibus, ratione sit dolores at voluptate quod a ipsum repellat rerum in expedita. Cupiditate aspernatur quidem aperiam dolorem!</p>
                    </div>
                    
                   
                </div>
                <div class="col-md-6">
                    <img src="../assets/crew/image-anousheh-ansari.webp " class="img-fluid" width="60%">
                </div>
            </div>
        
        </section>
    </main> 
</body>   

    
