/* Modo Movil */
.space{
    background: url(../../../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: .1px ;
}
.space__subtitle{
    margin-top: 5rem;
    text-align: center;
    color: rgb(199, 198, 198);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
.space__title{
    text-align: center;
    margin-top: .4rem;
    font-size: 4.9rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-family: 'Bellefair', serif; 
    
}
.space__paragraph{
    text-align: center;
    padding: 0 17px;
    color: rgb(168, 166, 166);
    font-size: 1rem;
    line-height: 1.7;
    font-family: 'Barlow', sans-serif;
}
.space__circle{
    margin: 0 auto;
    margin-top: 1.7rem;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;   
}
.space__circle:hover{
    transition: .5s;
    transform: scale(1.25);
    box-shadow: 0px 0px 60px rgb(255, 255, 255);
    
}


/* Modo tablet------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    
    .space{
        background-image: url("../../../assets/home/background-home-tablet.jpg");
    }
    
    .space__subtitle{
        margin-top: 6rem;
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
    .space__title{
        font-size: 5.5rem;        
    }
    .space__paragraph{
        width: 59%;
        margin: 0 auto;
        text-align: center;
        
    }
    .space__circle{
        margin: 0 auto;
        margin-top: 1.4rem;
        border-radius: 50%;
        height: 160px;
        width: 160px;
        background-color: white;
        color: black;
        text-align: center;
        
        font-size: 1.3rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
  }
  /* Modo desktop */
  @media only screen and (min-width: 1024px) {
    .space{
        background-image: url("../../../assets/home/background-home-desktop.jpg");
        background-size: cover;
    }
    .space__container{
        /* height: 100%; */
        height: 100%;
        width: 70%;
        margin:  0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .space_container_text{
        width: 40%;
    }    
    .space_container__circle{
        width: 50%;
    }
    .space__paragraph{
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: 1rem;
        text-align: justify;
    }
    .space__subtitle{
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 3.5px;
    }
    .space__title{
        font-size: 6rem;
        text-align: left;
    }
    .space__circle{
        margin-top: 11rem;
        height: 210px;
        width: 210px;
        
    }
  }